In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

pandas as pd - Used for data manipulation and analysis.(writing and reading)

numpy as np - Provides support for numerical operations, especially on large, multi-dimensional arrays and matrices.

import seaborn as sns - Used for data visualization, built on top of Matplotlib and tightly integrated with pandas. 
                library of matplotlib and supports pandas dataframe.
                auto customization, limited customization, asthetics, attractive, fast  

re - essential for text processing and pattern matching

In [7]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('true.csv')

In [8]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [9]:
data_fake['class'] = 0
data_true['class'] = 1

In [10]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

shape = tuple rows and columns

In [11]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop(i, axis=0, inplace=True)

data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop(i, axis=0, inplace=True)